#### State the Hypothesis:
- Null Hypothesis (H₀): There is no significant association between the type of smart home device purchased (Smart Thermostats vs. Smart Lights) and the customer satisfaction level.
- Alternative Hypothesis (H₁): There is a significant association between the type of smart home device purchased (Smart Thermostats vs. Smart Lights) and the customer satisfaction level.

In [1]:
'''' given data
The data is summarized in a contingency table showing the counts of customers in each satisfaction level for both types of devices:
Satisfaction	Smart Thermostat	Smart Light	Total
Very Satisfied	50	70	120
Satisfied	80	100	180
Neutral	60	90	150
Unsatisfied	30	50	80
Very Unsatisfied	20	50	70
Total	240	360	600
'''

"' given data\nThe data is summarized in a contingency table showing the counts of customers in each satisfaction level for both types of devices:\nSatisfaction\tSmart Thermostat\tSmart Light\tTotal\nVery Satisfied\t50\t70\t120\nSatisfied\t80\t100\t180\nNeutral\t60\t90\t150\nUnsatisfied\t30\t50\t80\nVery Unsatisfied\t20\t50\t70\nTotal\t240\t360\t600\n"

## Chisquare test:

In [2]:
import numpy as np
import pandas as pd
data = np.array([[50, 70],[80, 100],[60, 90],[30, 50],[20, 50]])

In [3]:
#generating the dataframe by using given data
df = pd.DataFrame(data, columns=['Smart Thermostat', 'Smart Light'], index=['Very Satisfied', 'Satisfied', 'Neutral', 'Unsatisfied', 'Very Unsatisfied'])
print("Contingency Table:")
print(df)

Contingency Table:
                  Smart Thermostat  Smart Light
Very Satisfied                  50           70
Satisfied                       80          100
Neutral                         60           90
Unsatisfied                     30           50
Very Unsatisfied                20           50

In [4]:
import researchpy as rp

In [5]:
#calculating the chi square table
table, results = rp.crosstab(df['Smart Thermostat'], df["Smart Light"], test='chi-square')

c:\Users\SAI VARDHAN REDDY\anaconda3\anaconda\Lib\site-packages\researchpy\crosstab.py:146: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Pearson Chi-square ( 12.0) = ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table.iloc[0,0] = f"Pearson Chi-square ({dof: .1f}) = "

In [6]:
table

                 Smart Light
Smart Light               50 70 90 100 All
Smart Thermostat
20                         1  0  0   0   1
30                         1  0  0   0   1
50                         0  1  0   0   1
60                         0  0  1   0   1
80                         0  0  0   1   1
All                        2  1  1   1   5

In [7]:
results # Results of the chi-square test

                 Chi-square test  results
0  Pearson Chi-square ( 12.0) =   15.0000
1                     p-value =    0.2414
2                  Cramer's V =    1.0000

In [8]:
import scipy.stats as stats
chi_table = stats.chi2.ppf(q = 0.95, df = 12)
chi_table.round(4)

21.0261

In [9]:
pval=0.2414 #considering p value using above results
alpha=0.05

In [10]:
#caluculate the critical value
critical_value=stats.norm.ppf(1-alpha)
print("critical value is :",critical_value)#prints the critical value

critical value is : 1.6448536269514722

In [11]:
if pval<critical_value:
    print("h1 is accepted and ho is rejected")
else:
    print("ho is accepted and h1 is rejected")

h1 is accepted and ho is rejected

#### CONCLUSION: 
    There is a significant association between the type of smart home device purchased and the customer satisfaction level